<div ng-if="currentTab == 3" class="bg-lightx d-block">
    <div><h4>Example Log Messages</h4></div>
    <table class="table table-striped table-sm">
        <tr class="d-flex">
            <td class="col-2">Type</td>
            <td class="col-8">Message Text</td>
            <td class="col-2">Action</td>
        </tr>

        <tr class="d-flex" ng-repeat="(key, example) in this.logExamples track by $index">
            <td class="col-2">{{ example.type }} </td>
            <td class="col-8">{{ example.text }} </td>
            <td class="col-2">
                <a href="#" ng-click="copyExample($index)" class="btn btn-outline-primary btn-sm">Copy</a>
                <a href="#" ng-click="tryExample($index)" class="btn btn-outline-primary btn-sm">Try</a>
                <a href="#" ng-click="toggleExampleFilter($index)" class="btn btn-outline-primary btn-sm">Filter</a>
            </td>
        </tr>
    </table>
</div>
