<div ng-if="currentTab == 3" class="bg-lightx d-block">
    <div><h4>Example Log Messages</h4></div>
    <table class="table table-striped table-sm">
        <tr class="d-flex" ng-repeat="(key, example) in this.logExamples track by $index">
            <td class="col-2">{{ example.type }} </td>
            <td class="col-10">{{ example.text }} </td>
        </tr>
    </table>
    <br>
    <div><h4>Example Logstash Filters</h4></div>
    <div>Coming soon...</div>
    <table class="table table-striped table-sm">
        <tr class="d-flex" ng-repeat="(key, example) in this.logFilters track by $index">
            <td class="col-2">{{ example.type }} </td>
            <td class="col-10">{{ example.text }} </td>
        </tr>
    </table>

</div>
